body {
  font-family: "arial";
  font-size: 12pt;
  line-height: 150%;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color:white;
  max-width: 650px;
  /*padding: 25px 5px 5px 5px; /* top right bottom left */
}

div {
    width: 100%;
    padding: 10px;
    border: none;
    margin: 10px;
    max-width: 90%;
    min-width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.main {
  font-family: Times;
    float: center;
    padding: 10px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}

.research {
  font-family: Times;
    float: center;
    padding: 10px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}

h1 { 
    display: block;
    color: #EA4435;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  font-family: "arial";
}

h2 { 
    display: block;
    color: #696969;
    font-size: 1.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
  font-family: "arial";
}


.footer {
  font-family: "Helvetica", serif;
  font-size: 100%;
  color: #ababab;
  line-height: 140%;
}


hr.footer {
  margin-top: 10%;
}


code, pre {
  font-family: "Droid Sans Mono", monospace;
  font-size: 10pt;
}


a:link {
    color: #4285F4;
    background-color:transparent;
    text-decoration:underline;
}
a:visited {
    color: #4285F4;
    background-color:transparent;
    text-decoration:underline;
}
a:hover {
    color: #feb236;
    background-color:transparent;
    text-decoration:underline;
}
a:active {
    color: #FBBC05;
    background-color:transparent;
    text-decoration:underline;
}



img {
/*    border-radius: 50%;
*/    max-width: 80%;
    height: auto;
    width: auto\9; /* ie8 */
/*    -webkit-filter: grayscale(100%);  Safari 6.0 - 9.0 
    filter: grayscale(100%);
*/


}


IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }


/* a paragraph proceeded by another paragraph will have a top margin */
p + p {
    margin-top: 0px;
}


* {
    box-sizing: border-box;
}


.button {
  border: 1px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  text-decoration:underline;
margin: 0px 0px;
 cursor: pointer;
}

.button1 {background-color: white;} /* blue */
.button2 {background-color: white;} /* orange */
.button3 {background-color: white;} /* red */
.button4 {background-color: white;} /* green */


button:link {
    color: #4285F4;
    background-color:transparent;
    text-decoration:underline;
}
button:visited {
    color: #4285F4;
    background-color:transparent;
    text-decoration:underline;
}
button:hover {
    color: #4285F4;
    background-color:transparent;
    text-decoration:underline;
}

button:active {
    color: #4285F4;
    background-color:transparent;
    text-decoration:underline;
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    
    IMG.displayed {display:none} 

}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
  .column {
        width: 100%;
        padding-left:0;

    }
  IMG.displayed {display:none} 

}


</style>

